.groceryimages {
  position: absolute;
  left: -220%;
}

.groceryimages img {
  width: 100px !important;
}

.item {
  width: 100px !important;
}

.groceryimages .appleImg {
  width: 50px !important;
  top: 240px;
  left: 190px;
  position: absolute;
}

.groceryimages .orangeImg {
  width: 50px !important;
  position: absolute;
  top: 180px;
  left: 130px;
}

.groceryimages .pringlesImg {
  left: 210px;
  top: 70px;
  position: absolute;
}
